---
- name: install postgres packages
  apt:
    name: "{{ item }}"
    state: installed
  with_items:
    - postgresql-9.3
    - postgresql-server-dev-9.3
  sudo: yes

- name: create database role
  postgresql_user:
    name: "{{ postgres_user }}"
    role_attr_flags: NOSUPERUSER,NOCREATEDB
    state: present
  sudo: yes
  sudo_user: postgres

- name: create database
  postgresql_db:
    db: "{{ postgres_db}}"
    owner: "{{ postgres_user }}"
    state: present
  sudo: yes
  sudo_user: postgres

- name: install monit config
  copy:
    src: monit.conf
    dest: /etc/monit/conf.d/postgres
    mode: 0600
  when: postgres_install_monit
  sudo: yes
